{% extends 'whole/main.html' %}
{% load static %}
{% block content %}


<style>
    .card{
        width:20rem;
        padding:6px;
        margin-bottom:1rem;
    }
</style>


<section>
  <div class="container">

      <div class="col-md-10 offset-md-1"><h2 class ="text-center">Best Quality Products</h2></div>
      <div class="container">
                  <div class="row">
            {%for product in products%}
            <div class="col-lg-4 col-md-6 col-10">
                <div class="container text-center ">

                         <div class="card d-flex justify-content-between">
<!--                              <div class="card shadow-lg ">-->

                                    <div class="card-body " >

                                        <img src="{{product.image.url}}" alt="Cloths" class="card-img-top">
                                        <div class="card-title name d-flex justify-content-between">
                                          <strong>  {{product.name}} </strong>
                                          <strong> RS {{product.price}}</strong>
                                        </div>
<!--                                        <a href="#" class="btn button btn-info">VIEW</a>-->
                                        <a href="/addToCart/{{product.id}}" class="btn button btn-info mx-3">ADD TO CART</a>
                                    </div>
<!--                              </div>-->

                         </div>
                </div>
            </div>





            {%endfor%}

        </div>
    </div>
</div>

{% endblock %}
