{% extends 'whole/main.html' %}
{% load static %}

{% block title %}
{% endblock title %}
{% block content %}

<DOCTYPE html>
<html>
  <head>

  </head>

  <body>
    <div class="banner">
      <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
          <img src="{% static 'images/banner1.jpg' %}" alt="" title="Banner Image" />
        </div>

        <div class="item">
          <img src="{% static 'images/banner2.jpg' %}" alt="" title="Banner Image" />
        </div>

        <div class="item">
          <img src="{% static 'images/banner3.jpg' %}" alt="" title="Banner Image" />
        </div>

        <div class="item">
          <img src="{% static 'images/banner4.jpg' %}" alt="" title="Banner Image" />
        </div>
      </div>
    </div>

    <section id="">
  <div class="container-fluid ">
    <div class="col-md-12 text-center py-3">
      <h2>Popular <span class="text-info">products</span> </h2>
      <p>A wonderful serenity has taken to the possession of my entire soul.</p>
    </div>
    <div class="container bg-white py-3 col-sm-10 col-md-9 col-lg-10">
      <div class="row">
      {% for a in categories %}
      <div class="col-md-4 py-2">
          <div class="card dest-card shadow-lg">
            <img src="/{{a.image}}" class="img-fluid ">
             <div class="card-body text-white" style="position: absolute; bottom: 50px; left: 10px;">
               <h2 class="text-primary">{{a.category_name}}
               <a href="/items/{{a.id}}" class="btn btn-outline-primary rounded-pill ml-5"><span><strong>view</strong></span></a>
               </h2>
               </div>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </div>
</section>


     <div class="one">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-title">
              <h2>Made the hard way</h2>
              <h3>Featured Categories</h3>
            </div>
          </div>

          <div class="col-md-3">
            <div class="categories-block">
              <img src="{% static 'images/featured-image1.jpg' %}" alt="" class="" />
              <div class="overlay">
                <div class="text">Bags</div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="categories-block">
              <img src="{% static 'images/featured-image2.jpg' %}" alt="" class="" />
              <div class="overlay">
                <div class="text">Shoes</div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="categories-block">
              <img src="{% static 'images/featured-image3.jpg' %}" alt="" class="" />
              <div class="overlay">
                <div class="text">Woman</div>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="categories-block">
              <img src="{% static 'images/featured-image4.jpg' %}" alt="" class="" />
              <div class="overlay">
                <div class="text">Watches</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section>
    <div class="container-fluid ">
        <div class="textarea text-center font-weight-bold">
          <h4>Product Features</h4>
        </div>
      <div class="row">
        <div class="col-md-12">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="container">
                    <div class="row">


                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style= "max-height:350px;  ">
                     <img src="{% static 'images/products-image1.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style=" max-height:350px;  ">
                     <img src="{% static 'images/products-image2.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style=" max-height:350px;  ">
                     <img src="{% static 'images/products-image3.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style=" max-height:350px;  ">
                     <img src="{% static 'images/products-image4.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>
                    </div>
                  </div>




               </div>
              </div>

                </div>
                        <div class="carousel-item ">
              <div class="container">
                <div class="row">


                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style=" max-height:350px;  ">
                     <img src="{% static 'images/products-image5.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>s
                    </div>
                  </div>

                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style=" max-height:350px;  ">
                     <img src="{% static 'images/products-image.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style=" max-height:350px;  ">
                     <img src="{% static 'images/products-image1.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>
                    </div>
                  </div>

                  <div class="col-md-3 py-3">
                    <div class="card" >
                      <div class="card-body" style=" max-height:350px;  ">
                     <img src="{% static 'images/products-image1.jpg' %}" alt="" class="img-fluid"style="width:100%; height:260px;" />
                      </div>
                    </div>
                  </div>




               </div>
              </div>

                </div>

          </div>



        </div>
        </div>
      </div>
  </div>
</section>


{% endblock content %}
