{% extends 'layout-admin.html' %}
{% load bootstrap %}
{% block title %}
<title>Add Product</title>
{% endblock%}
{% block content %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
            {% endif %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <h6 class="error_message py-3 px-1 my-2 text-center">{{message}}</h6>
            {% endif %}
            {% endfor %}
            <h1 class=""><a class="btn btn-sm btn-primary ml-auto mb-2" href="/admin-dashboard/addProduct">Add New Product</a></h1>

                <table class="table table-striped">
                    <thead>
                    <th>Product name</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Actions</th>
                    <th>Category</th>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{product.name}}</td>
                         <td> {{ product.price }}</td>

                        <td> <img src="/{{ product.image }}" width="80px"></td>
                        <td><a href="/admin-dashboard/updateProduct/{{product.id}}" class="btn btn-sm btn-success">Edit</a>
                        <a href="/admin-dashboard/deleteProduct/{{product.id}}"
                           onclick="return confirm('Are you sure want to delete?')"
                           class="btn btn-sm btn-danger">Delete</a> </td>
                         <td> {{ product.category.category_name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>


        </div>
    </div>
</div>

{% endblock %}
